---
import "../assets/css/style.css";
import { join } from "node:path";
import { AstroFont } from "astro-font";
import SkipToMain from "../components/SkipToMain.astro";
import Noise from "../components/Noise.astro";

interface Props {
	class?: string;
	title: string;
	desc: string;
}

const { class: className, title = "Nishit Jalan", desc } = Astro.props;
// TODO: check the canonical URL for markdown layouts
// https://docs.astro.build/en/basics/layouts/#markdown-layouts
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const socialImageURL = new URL("/images/opengraph.png", Astro.url);
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<title>{title}</title>

		<script>
			document.documentElement.classList.add("has-js");
		</script>

		<AstroFont
			config={[
				{
					name: "League Gothic",
					src: [
						{
							style: "normal",
							weight: "400",
							path: join(
								process.cwd(),
								"public",
								"fonts",
								"LeagueGothic-Regular-VariableFont_wdth-subset.woff2"
							),
						},
					],
					preload: true,
					display: "swap",
					selector: ".display-text",
					cssVariable: "font-display",
					fallback: "sans-serif",
					fallbackName: "League Gothic Fallback",
				},
			]}
		/>
		<link
			rel="preload"
			href="/images/grunge-texture-comp-13.png"
			as="image"
			type="image/png"
			crossorigin
		/>
		<link rel="preload" href="/images/noise.png" as="image" type="image/png" />

		<meta name="description" content={desc} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={desc} />
		<meta property="og:image" content={socialImageURL} />
		<meta property="og:locale" content="en_GB" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={canonicalURL} />
		<link rel="canonical" href={canonicalURL} />

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<!-- TODO: update theme color -->
		<meta name="theme-color" content="#000c00" />
		<meta name="generator" content={Astro.generator} />
	</head>
	<body class={className}>
		<SkipToMain />
		<slot>
			<p>This is my fallback content, if there is no child passed into slot</p>
		</slot>
		<Noise />
	</body>
</html>
